@import "../../../../colors.scss";

.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 100px 0 50px 0;

    &__container {
        flex-grow: 1;
        width: 100%;
        max-width: 1400px;
        height: 100%;
        margin: 0 auto;
        padding: 0 28px;
        display: flex;
        flex-direction: column;
    }

    &__tabs {
        margin-bottom: 25px;
    }

    &__content {
        flex-grow: 1;
        background-color: $gray;
        padding: 25px;
        border-radius: 20px;
    }
}

.select-projects-button, .select-create-button {
    width: 50%;
    font-size: 25px;
    border-radius: 0;
    background-color: $gray;
    color: $black;

    &:hover {
        color: $white;
    }
}

.select-projects-button {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.select-create-button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.active {
    color: $white;
    background-color: $black;

    &:hover {
        background-color: $black;
    }
}